<% layout('layouts/boilerplate') %>
    <div class="row text-center">
        <div class="col-12">
            <form action="/category/<%= category._id %>/<%= post._id %>?_method=PUT" method="POST">
                <h2 class="mb-4 d-flex justify-content-between">
                    Edit Post
                    <button class="btn btn-success text-white">Edit</button>
                </h2>
                <div class="mb-3">
                    <input class="form-control" placeholder="Title" type="text" id="title" name="title"
                        value="<%= post.title %> ">
                </div>
                <div class="mb-3">
                    <input class="form-control" placeholder="Subtitle" type="text" id="title" name="subtitle"
                        value="<%= post.subtitle %> ">
                </div>
                <textarea id="mytextarea" name="body" placeholder="Post body"><%= post.body %> </textarea>

            </form>
        </div>
    </div>